h1 {
    color: darkgreen;
}

    /* LIST #2 */
.list { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#bfe1f1;  }
.list li p { padding:8px; font-style:normal; font-family:Arial; font-size:13px; color:#eee; border-left: 1px solid #999; }
.list li p em { display:block; }
